.row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 16px;
}

.row:hover {
    border-radius: 3px;
    background: #eee;
}

div {
    padding: 5px 0;
}

.total {
    width: 15%;
    font-weight: bolder;
    padding: 0 5px;
}

.completed {
    color: #ddd;
    text-decoration: line-through;
}

.completed img {
    filter: brightness(150%);
}

.title {
    display: flex;
    width: 30%;
    padding: 0 20px;
}

.price {
    width: 15%;
    padding: 0 20px;
}

.quantity {
    width: 5%;
    padding: 0 5px;
}

.actions {
    width: 5%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.actions button {
    border: none;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.actions button:hover {
    background-color: darkred;
}

@media screen and (max-width: 480px) {
    .title {
        min-width: 20%;
    }
    .price,
    .total {
        min-width: 15%;
        font-size: 12px;
    }
    .quantity {
        min-width: 5%;
        font-size: 12px;
    }
    .actions {
        width: 5%;
        font-size: 10px;
    }
}

.item img {
    display: inline-block;
    fill: currentColor;
    height: 20px;
    width: 20px;
    margin: 5px auto 10px;
    display: block;
}

.actions img {
    display: inline-block;
    fill: currentColor;
    height: 20px;
    width: 20px;
    margin: 10px auto 10px;
    display: block;
    cursor: pointer;
}

.item {
    height: 30px;
    min-height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
}